adf4practicelocally/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf4practicelocally"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"LS_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
		},
		"LS_SQLDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLDB'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stg4files.dfs.core.windows.net/"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stg4files.dfs.core.windows.net/"
		},
		"LS_SQLDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "emapty008.database.windows.net"
		},
		"LS_SQLDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldbpractice"
		},
		"LS_SQLDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "serveradmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CUSTOMERS_INGESTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_CUSTOMERS_CSV",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "/raw/customers",
									"file_name": "customers.csv"
								}
							},
							"fieldList": [
								"columnCount",
								"exists",
								"lastModified",
								"size",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "is_file_exists",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "is_exists",
							"value": {
								"value": "@activity('Get Metadata').output.exists",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "is_file_exists",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"\"Content-Type\"": "\"application/json\""
							},
							"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/f7bcb342997d4f078db23f4b5f2b322f/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=NtvyZR6TmrAVwl00BJOjKBDIiEMOYuG-0BxRQVLmcqU",
							"body": {
								"pipeline_name": "@{pipeline().Pipeline}",
								"status": "FAILED",
								"message": "Schema validation failed"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"is_exists": {
						"type": "Boolean"
					},
					"file_sctructure": {
						"type": "Array"
					},
					"v_file_size": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "My Project"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-09T18:31:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CUSTOMERS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_INGEST_CUSTOMERS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Enterprise Production Grade ADF Pipeline",
				"activities": [
					{
						"name": "GET_METADATA",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Container",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "@pipeline().parameters.folder_name",
									"file_name": "@pipeline().parameters.filename"
								}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "VALIDATE_FILE_EXISTS",
						"type": "Validation",
						"dependsOn": [
							{
								"activity": "GET_METADATA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Container",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "@pipeline().parameters.folder_name",
									"file_name": "@pipeline().parameters.filename"
								}
							},
							"timeout": "0.01:00:00",
							"sleep": 10
						}
					},
					{
						"name": "LOOKUP_SCHEMA_METADATA",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VALIDATE_FILE_EXISTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT COLUMN_NAME, DATA_TYPE FROM CONTROL_SCHEMA_METADATA WHERE TABLE_NAME='CUSTOMERS'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IF_SCHEMA_VALID",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LOOKUP_SCHEMA_METADATA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('LOOKUP_SCHEMA_METADATA').output.value),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "FAIL_SCHEMA_VALIDATION",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Schema Validation Failed",
										"errorCode": "SCHEMA_ERROR"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SCHEMA_VALIDATED",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					},
					{
						"name": "GET_SOURCE_ROW_COUNT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "IF_SCHEMA_VALID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource"
							},
							"dataset": {
								"referenceName": "DS_Container",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "@pipeline().parameters.folder_name",
									"file_name": "@pipeline().parameters.filename"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IF_ROW_COUNT_VALID",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET_SOURCE_ROW_COUNT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('GET_SOURCE_ROW_COUNT').output.value),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "FAIL_ROW_COUNT",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Row Count Validation Failed",
										"errorCode": "ROWCOUNT_ERROR"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ROW_COUNT_VALIDATED",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					},
					{
						"name": "COPY_TO_SQL_STAGE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IF_ROW_COUNT_VALID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Container",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": "@pipeline().parameters.folder_name",
									"file_name": "@pipeline().parameters.filename"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_STG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SEND_FAILURE_NOTIFICATION",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GET_METADATA",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "VALIDATE_FILE_EXISTS",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "IF_SCHEMA_VALID",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "IF_ROW_COUNT_VALID",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "COPY_TO_SQL_STAGE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://your-logic-app-url.azurewebsites.net/api/notify",
							"body": {
								"pipeline_name": "@pipeline().Pipeline",
								"run_id": "@pipeline().RunId",
								"file_name": "@pipeline().parameters.filename",
								"status": "FAILED",
								"time": "@utcNow()"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"folder_name": {
						"type": "string",
						"defaultValue": "raw/customers"
					},
					"filename": {
						"type": "string",
						"defaultValue": "customers.csv"
					}
				},
				"folder": {
					"name": "enterprise_framework"
				},
				"annotations": [
					"Enterprise",
					"Production",
					"MetadataDriven",
					"ValidationFramework"
				],
				"lastPublishTime": "2026-06-09T14:55:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Container')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_STG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CUSTOMERS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "My Project"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder_name",
							"type": "Expression"
						},
						"fileSystem": "sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CUSTOMER_ID",
						"type": "String"
					},
					{
						"name": "CUSTOMER_NAME",
						"type": "String"
					},
					{
						"name": "EMAIL",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "String"
					},
					"file_name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ChatGPT"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder_name",
							"type": "Expression"
						},
						"fileSystem": "sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ChatGPT"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "RUN_ID",
						"type": "varchar"
					},
					{
						"name": "PIPELINE_NAME",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "START_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "END_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ERROR_MESSAGE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ETL_AUDIT_LOG"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_STG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ChatGPT"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CUSTOMER_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CUSTOMER_NAME",
						"type": "varchar"
					},
					{
						"name": "EMAIL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_CUSTOMERS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQLDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLDB_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}